{% extends 'page.njk' %}

{% set title = "Directory / Page2" %}
{% set subtitle = "Enim laborum tempor sint aliqua veniam amet tempor aute ad incididunt laboris." %}

{% block content %}
  <p>
    Ad magna incididunt nostrud mollit dolor$ eiusmod pariatur nulla est ut et. Qui sit pariatur velit ullamco sit in fugiat proident dolore quis ipsum ex. Consectetur nostrud excepteur esse labore fugiat culpa. Ad commodo ex eiusmod aute ipsum velit ullamco pariatur.
  </p>
{% endblock %}
