{% extends 'page.njk' %}

{% set 'title' = 'Blog' %}
{% set 'description' = 'An Example of Posts Plugin' %}

{% block content %}
  <div id="app">
    <json-posts url="{{ site.url }}/collections/blog.json" />
  </div>
{% endblock %}

{% block script %}
  <script src="/assets/js/json_posts.js"></script>
  <script>
    var app = new Vue({
      el: '#app'
    })
  </script>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/json_posts.css">
{% endblock %}
