{% extends 'page.njk' %}

{% set 'title' = 'WordPress News' %}
{% set 'description' = 'An Example of WordPress REST API Client' %}

{% block content %}
  <div id="app">
    {# <wp-posts api-url="https://ja.wordpress.org/wp-json/wp/v2/posts"> #}
    <wp-posts api-url="https://wordpress.org/news/wp-json/wp/v2/posts">
    </wp-posts>
  </div>
{% endblock %}

{% block script %}
  <script src="/assets/js/wpposts.js"></script>
  <script>
    var app = new Vue({
      el: '#app'
    })
  </script>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="/assets/css/wpposts.css">
{% endblock %}
