{% extends 'page.njk' %}

{% set 'title' = 'WordPress News' %}
{% set 'description' = 'An Example of WordPress REST API Client.' %}

{% block content %}
  <div id="app">
    <wp-posts-index
      api-url="https://wordpress.org/news/wp-json/wp/v2/posts"
      page-path="./page">
    </wp-posts-index>
  </div>
{% endblock %}

{% block script %}
  <script>
    var app = new Vue({
      el: '#app',
    })
  </script>
{% endblock %}
