{% extends 'base.njk' %}

{% block content %}
  <div id="app">
    <wp-posts api-url="https://wordpress.org/news/wp-json/wp/v2/posts" />
    {# <wp-posts api-url="https://ja.wordpress.org/wp-json/wp/v2/posts"></wp-posts> #}
  </div>
{% endblock %}

{% block script %}
  <script src="/js/wpposts.js"></script>
  <script>
    var app = new Vue({
      el: '#app'
    })
  </script>
{% endblock %}

{% block style %}
  <link rel="stylesheet" href="/css/wpposts.css">
{% endblock %}
