{% extends 'page.njk' %}

{% set 'title' = 'Wordpress.org News' %}
{% set 'description' = 'An example of wordpress api client' %}

{% block content %}
  <div id="app">
    <wp-posts api-url="https://wordpress.org/news/wp-json/wp/v2/posts" />
    {# <wp-posts api-url="https://ja.wordpress.org/wp-json/wp/v2/posts" /> #}
  </div>
{% endblock %}

{% block script %}
  <script>
    var app = new Vue({
      el: '#app'
    })
  </script>
{% endblock %}
